  .card {
    height: 200px;
    margin: auto; /* Center the card horizontally */
    overflow: hidden; /* Hide any content that overflows horizontally */
  }

  .card-body {
    overflow-y: auto; 
    overflow-x: hidden;
    height:150px;
  }

  .mx-auto {
    text-align: center;
    margin-top: auto;
  }

  .list-unstyled {
    padding-left: 0;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .actuImg{
    max-width: 100%;
    height: 200px;
    aspect-ratio: 1 / 1;
  }